<!-- templates/task_board.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/task_board.css' %}">

<div class="board">
    <div class="column" id="to-do">
        <h3>To Do</h3>
        {% for task in tasks_to_do %}
            <a href="{% url 'tasks:task_detail' task.id %}" class="task" data-id="{{ task.id }}" data-status="to_do">
                {{ task }} <i class="fas fa-tasks"></i>
            </a>
        {% endfor %}
    </div>
    <div class="column" id="in-progress">
        <h3>In Progress</h3>
        {% for task in tasks_in_progress %}
            <a href="{% url 'tasks:task_detail' task.id %}" class="task" data-id="{{ task.id }}" data-status="in_progress">
                {{ task }} <i class="fas fa-spinner"></i>
            </a>
        {% endfor %}
    </div>
    <div class="column" id="done">
        <h3>Done</h3>
        {% for task in tasks_done %}
            <a href="{% url 'tasks:task_detail' task.id %}" class="task" data-id="{{ task.id }}" data-status="done">
                {{ task }} <i class="fas fa-check-circle"></i>
            </a>
        {% endfor %}
    </div>
</div>

<script>
    var UpdateTaskStatus = "{% url 'tasks:update_task_status' %}";
</script>
<script src="{% static 'js/task_board.js' %}"></script>
{% endblock %}
