.board {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
}
.column {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.column h3 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px 5px 0 0;
    pointer-events:none;
}
.column#to-do h3 {
    background-color: #ff7675;
}
.column#in-progress h3 {
    background-color: #74b9ff;
}
.column#done h3 {
    background-color: #55efc4;
}
.task {
    padding: 15px;
    margin: 10px 0;
    background: #f1f2f6;
    border-left: 5px solid;
    border-radius: 3px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task:hover {
    background: #dfe6e9;
}
.task i {
    color: #636e72;
}
.task[data-status="to_do"] {
    border-color: #ff7675;
}
.task[data-status="in_progress"] {
    border-color: #74b9ff;
}
.task[data-status="done"] {
    border-color: #55efc4;
}