{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Create a New Project</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_name">Name:</label>
            {{ form.name }}
            <label for="id_description">Description:</label>
            {{ form.description }}
            <label for="id_total_budget">Total Budget:</label>
            {{ form.total_budget }}
            <label for="id_deadline">Deadline:</label>
            {{ form.deadline }}  <!-- Выводим поле deadline -->
            <button type="submit">Create Project</button>
        </form>
    </div>
{% endblock %}
