{% extends 'base.html' %}   


{% block content %}
<div class="card text-center">
    <div class="card-header">
        Список проектов
    </div>
    <div class="card-body">
        {% for project in projects %}
            <div class="alert alert-info" role="alert">

                <a style="text-decoration:none" href="{% url 'project_detail' project.id %}">
                    <li>
                        <span class="field-value">{{ project.name }}</span><br>
                    </li>
                    <li>
                        <span class="field-value">{{ project.deadline }}</span><br>
                    </li>
                </a>

            </div> 
        {% endfor %}
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
{% endblock %}
